.cabecalho {
	padding: 1em;
	margin: 1em 0 2em 0;
}

.rodape{
	margin-top: 2em;
}

.alinhamento{	
	text-align: center;
}

h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: gray;
}

p{
	font-family: 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: gray;
}

h1, h2, h3, h4, h5{
	color:gray;
}
table, th, td, tr{	
	color: gray;
}