<!DOCTYPE html>

<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}{% endblock%}</title>
	</head>

	<body>
		<div class="container">
			<div class="border border-info shadow-sm rounded cabecalho">
				<h1 class="display-3 text-info">Pytux</h1>
				<p class="text-secondary fw-light">
					Este aplicativo foi desenvolvido em Python e roda sobre Termux
					em um celular Android
				</p>
			</div>

			
			<!-- <div class="d-flex justify-content-center mb-3">				
				<img src="../static/img/python1.png" alt="python">
				<div>...</div>
				<img src="../static/img/termux1.png" alt="termux">
				<div>...</div>				
				<img src="../static/img/android2.png" alt="android">				
			</div>			 -->
		</div>
		{% block content %}
		
		{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<p class="text-center fw-light rodape">Desenvolvido por Marlon Dametto - 2021</p>
	</body>
</html>
