{% extends "base.html" %}
{% block title %}Bem-Vindo{% endblock %}
{% block content %}
<div class="container">	

	<div class="accordion" id="accordMenu">
		<div class="accordion-item">
		  <h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-megaphone-fill" viewBox="0 0 16 16">
					<path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"/>
				</svg>
				&nbsp;
				Texto para voz
			</button>
		  </h2>
		  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordMenu">
			<div class="accordion-body">
				<p>Envie uma mensagem que será lida em voz alta pelo smartphone.</p>
				<form action="{{ url_for('playsound') }}" method="POST">
					<div class="mb-3">						
						<textarea class="form-control" id="control-msg" name="control-msg" rows="3"></textarea>
					</div>
					<div class="float-end">
						<button type="submit" class="btn btn-secondary">Enviar</button>
					</div>
					<div class="clearfix"></div>
				</form>				
			</div>
		  </div>
		</div>
		<div class="accordion-item">
		  <h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			  
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
				<path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
				<path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
				</svg>
				&nbsp;
				Envie um SMS
			</button>
		  </h2>
		  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Envie uma mensagem SMS</p>
				<form action="{{ url_for('sendsms') }}" method="POST">
					<div class="row mb-3">									
						<div class="col-auto">
							<input type="text" class="form-control" id="fonenumber" name="fonenumber" placeholder="Celular">
						</div>
					</div>
					<div class="mb-3">						
						<textarea class="form-control" id="message" name="message" placeholder="Mensagem" rows="3"></textarea>
					</div>
					<div class="float-end">
						<button type="submit" class="btn btn-secondary">Enviar</button>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		  </div>
		</div>
		<div class="accordion-item">
		  <h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			  Accordion Item #3
			</button>
		  </h2>
		  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
			<div class="accordion-body">
			  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		  </div>
		</div>
	  </div>	
</div>
{% endblock %}

